# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!terraform.tfvars.example
!terraform/terraform.tfvars
tfplan
*.tfplan
plan.txt
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
